@font-face{
    font-family:Lato;
    src: url(/fonts/Lato-Regular.ttf);
    font-family:Damion;
    src: url(/fonts/Damion-Regular.ttf);
    font-family:LatoB;
    src: url(/fonts/Lato-Black.ttf);
   }